#header{
    margin-top: 10px;
    background-color: lightblue;
    height:150px;
    width:100%;
    border-radius: 100px;
}

.heading{
    font-size: 50px;
    text-align: center;
    font-style: bold;
}

.subheading{
    font-size: 25px;
    text-align: center;
    font-style: italic;
    color: darkgray ;
}

body{
    background-color: white;
}

canvas{
        border:10px dotted black;
        border-radius: 30px;  
}
